html { 
    overflow-y: auto !important; 
    overflow-x: hidden;
    -webkit-font-smoothing:  antialiased !important;
    -moz-osx-font-smoothing: antialiased !important;
}

body {
    font-family: 'Manrope', 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0;
    // background: #13101D;
    // background-image: url('../assets/img/bg-s1.jpg');
    // background-size: cover;
    background-position: center;
    background:  #0A0B11;
    // background: radial-gradient(29.27% 59.49% at 50% 100%, rgba(79, 70, 92, 0.6) 0%, rgba(79, 70, 92, 0) 100%), #0A0B11;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

a { text-decoration: none; }

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.caption-1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;

}
.caption-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 78px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    &_gradient { 
        opacity: 0.7;
        background: radial-gradient(106.15% 294.86% at 64.43% 50%, #DAD5FF 0%, rgba(255, 255, 255, 0) 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media screen and (max-width: 1280px) {
        font-size: 42px;
        line-height: 55px;
    }
    @media screen and (max-width: 560px) {
        font-weight: 300;
        font-size: 23px;
        line-height: 30px;
    }
}
.caption-3 {
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    color: #fff;
}
.right_txt { width: fit-content; }
.txt {
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;

    &_right { text-align: right; }
    &_left  { text-align: left; }

    &_strong { 
        font-weight: 400;
        color: #FFBD3C; 
    }
}
.wrap_more {
    opacity: .5;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &_right { justify-content: flex-end; }
    &_left  { justify-content: flex-start; }
}
.more {
    font-family: 'ProximaNova', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    &__arr { margin-left: 5px }
}

.container { 
    padding: 0 100px;
    @media screen and (max-width: 1280px) {
        padding: 0 30px;
    } 
    @media screen and (max-width: 560px) {
        padding: 0 15px;
    }
}

._mb-7 { margin-bottom: 28px; }

::-webkit-scrollbar {
    width: .2em;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
