html { 
    overflow-y: auto !important; 
    overflow-x: hidden;
    -webkit-font-smoothing:  antialiased !important;
    -moz-osx-font-smoothing: antialiased !important;
}

body {
    font-family: 'ProximaNova', 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0;
    background: #13101D;
    background-image: url('../assets/img/bg-s1.jpg');
    background-size: cover;
    background-position: center;
    background-image: radial-gradient(30.1% 53.52% at 48.78% 46.48%, rgba(38, 37, 42, 0.8) 0%, rgba(37, 36, 41, 0) 100%), #0A0020;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

a { text-decoration: none; }

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.caption-1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;

}
.caption-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    &_gradient { 
        opacity: 0.2;
        background: linear-gradient(86.19deg, #3F2A85 -1%, #FF4848 65.71%), linear-gradient(91.1deg, #FB5A00 3.09%, #66C5B4 74.16%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.caption-3 {
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    color: #fff;
}
.right_txt { width: fit-content; }
.txt {
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;

    &_right { text-align: right; }
    &_left  { text-align: left; }

    &_strong { 
        font-weight: 400;
        color: #FFBD3C; 
    }
}
.wrap_more {
    opacity: .5;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &_right { justify-content: flex-end; }
    &_left  { justify-content: flex-start; }
}
.more {
    font-family: 'ProximaNova', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    &__arr { margin-left: 5px }
}

.container { padding: 160px 100px; }

._mb-7 { margin-bottom: 28px; }
