// Proxima Nova
@font-face {
    font-family: 'ProximaNova';
    src: url('~@/assets/fonts/ProximaNovaT-Thin.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('~@/assets/fonts/ProximaNova-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('~@/assets/fonts/ProximaNova-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('~@/assets/fonts/ProximaNova-Extrabld.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('~@/assets/fonts/ProximaNova-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

// Aldrich
@font-face {
    font-family: 'Aldrich';
    src: url('~@/assets/fonts/Aldrich/Aldrich-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
